body{
    color: #556B2F;
    font-family: 'Trebuchet MS', Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding:0;
}

main{
    display: grid;
    grid-template-columns: repeat(3, auto, 1fr);
    grid-auto-rows: minmax(100px, auto);
    max-width: 960px;
    margin: 0 auto;
    grid-gap: 2px;
    grid-template-areas:
    "header header header"
    "article article article"
    "section section section"
    "aside aside aside"
    "form form form"
    "footer footer footer";
}

main > * {
    background: #FFC0CB;
    padding:20px;
    
/*     margin: 0; */
}

#header-img{
    margin-top: -60px;
    width: 55px;
}

header {
    grid-area: header;
    
}

header > nav {
    margin-left:auto;
/*     position: absolute; */
}

#header{
    display: flex;
    position: fixed;
    max-width: 920px;
    width: 100%;
    margin:0;
    top: 0;
}

article {
    grid-area: article;
}
/* .about {
    width: 600px;
} */

aside {
    grid-area: aside;
}

.pdct{
    display: flex;
    max-width: 250px;
    width: 100%;
    padding: 3px;
    margin: 0 auto;
    margin-bottom: 12px;
    
}
  
section {
   grid-area: section;
}

form{
    grid-area: form;
}

footer{
    grid-area: footer;
}

li {
    list-style-type: none;
    display: inline;
    padding-right: 40px;
}
div {
    border: 1px solid grey;
    display: inline;
    margin: 10px auto;
}
#products{
    display: flex;
    justify-content: center;
    align-items: center;
} 

#footer{
  bottom: 0;
  margin: 0;
  padding-bottom: 0;
 
}

@media (max-width:650px){
 header{
  position: absolute;
 }
  #header-img .nav-link {
   text-align: center;
/*    padding: 10px; */
 }

}